.comp-a{
    h1{
        font-size: 30px;
        font-weight: bolder;
        color:#f90;
    }

    ul{
        overflow: hidden;
        li{
            float: left;
            width: 30%;
            margin-right: 10%;
            cursor: pointer;
            &.active,&:hover{
                color: blueviolet;
            }
        }
    }
}